<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Изменение студента</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/students/{id}(id=${StudentEditIndex})}" th:object="${StudentEdit}">
    <label for="firstName">Введите Имя: </label>
    <input type="text" th:field="*{firstName}" id="firstName"/>
    <div style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
    <br>
    <label for="lastName">Введите фамилию: </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <div style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
    <br>
    <label for="middleName">Введите Отчество: </label>
    <input type="text" th:field="*{middleName}" id="middleName"/>
    <div style="color:red" th:if="${#fields.hasErrors('middleName')}" th:errors="*{middleName}"></div>
    <br>
    <input type="submit" value="Изменить"/>
</form>
</body>
</html>