<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>ЕГЭ на 100</title>
    <link rel="stylesheet" type="text/css" href="/css/styleForNew.css" />
</head>
<body>
<header>
    <h1>Изменение ученика</h1>
</header>
<nav>
    <a href="http://localhost:8080/home">Главная</a>
</nav>
<div class="container">
    <form th:method="PATCH" th:action="@{/students/{id}(id=${StudentEditIndex})}" th:object="${StudentEdit}">
        <label for="firstName">Имя:</label>
        <input type="text" th:field="*{firstName}" id="firstName">
        <div style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
        <label for="lastName">Фамилия:</label>
        <input type="text" th:field="*{lastName}" id="lastName">
        <div style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
        <label for="middleName">Отчество:</label>
        <input type="text" th:field="*{middleName}" id="middleName">
        <div style="color:red" th:if="${#fields.hasErrors('middleName')}" th:errors="*{middleName}"></div>
        <label for="email">Почта:</label>
        <input type="text" th:field="*{email}" id="email">
        <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
        <input type="submit" value="Изменить" class="btn">
        <a href="http://localhost:8080/students" class="btn">Назад</a>
    </form>
</div>
</body>
</html>