<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>ЕГЭ на 100</title>
  <link rel="stylesheet" type="text/css" href="/css/styleForNew.css" />
</head>
<body>
<header>
  <h1>Изменить группу</h1>
</header>
<nav>
  <a href="http://localhost:8080/home">Главная</a>
</nav>
<div class="container">
  <form th:method="PATCH" th:action="@{/groups/{id}(id=${GroupEditIndex})}" th:object="${GroupEdit}">
    <label for="groupName">Имя группы:</label>
    <input type="text" th:field="*{groupName}" id="groupName"/>
    <div style="color:red" th:if="${#fields.hasErrors('groupName')}" th:errors="*{groupName}"></div>
    <input type="submit" value="Изменить" class="btn">
    <a href="http://localhost:8080/groups" class="btn">Назад</a>
  </form>
</div>
</body>
</html>