<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Изменение группы</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/groups/{id}(id=${GroupEditIndex})}" th:object="${GroupEdit}">
  <label for="groupName">Введите Имя группы: </label>
  <input type="text" th:field="*{groupName}" id="groupName"/>
  <div style="color:red" th:if="${#fields.hasErrors('groupName')}" th:errors="*{groupName}"></div>
  <br>
  <input type="submit" value="Изменить"/>
</form>
</body>
</html>